.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .title {
    font-size: 2.5rem;
    background: linear-gradient(90deg, #f300be, #00d4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .nav{
    margin-top: 15px;
    display: flex;
    gap: 15px;
  }
  
  .navLink{
    text-decoration: none;
    color: #f300be;
    font-weight: bold;
  }
  
  .navLink:hover{
    text-decoration: underline;
    color: #9f00be;
}


.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    resize: vertical;
    min-height: 100px;
}

.button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f300be;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.button:hover {
    background-color: #9f00be;
}

