.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f9f9f9;
}

.title {
  font-size: 2.5rem;
  background: linear-gradient(90deg, #f300be, #00d4ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}

.nav{
  margin-top: 15px;
  display: flex;
  gap: 15px;
}

.navLink{
  text-decoration: none;
  color: #f300be;
  font-weight: bold;
}

.navLink:hover{
  text-decoration: underline;
  color: #9f00be;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin-top: 30px;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
}

.card:hover {
  border: 1px solid #f300be;
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card h2 {
  margin-bottom: 10px;
  color: #f300be;
}